body{
background-color:#96C2F3;
color:black;
font-size:150%;
}

h{
text-align:top left;
color:#DD09EE;
font-size:250%;
}
b{
color:#570808;
font-size:200%;
}
c{
color:#570857;
font-size:200%;
}
 
.flotte{
float:right;
}
i{
text-aling:center;
}
#nav {
	padding: 0; marging: 0;
	
}
#nav li {
	display: inline;
	list-style: none;
}